// SPDX-License-Identifier: Apache-2.0

// #include <zephyr/dt-bindings/gpio/gpio.h>
// #include <zephyr/dt-bindings/i2c/i2c.h>
// #include <zephyr/dt-bindings/led/led.h>
// #include <zephyr/dt-bindings/usb/usb.h>
// #include <zephyr/dt-bindings/pinctrl/rpi-pico-rp2040-pinctrl.h>
//zephyr/dts/bindings/serial/raspberrypi,pico-uart.yaml

/ {
	model = "UrbanIoT rpi pico";
	compatible = "raspberrypi,pico";
	
	chosen {
		zephyr,console = &usb_cdc;
		// zephyr,shell-uart = &usb_cdc;
	};

	aliases {
        gps-uart = &uart0;
        lora-uart = &uart1;
	};
};

&pinctrl {

    uart0_default: uart0_default {
		group1 {
			pinmux = <UART0_TX_P0>;
		};
		group2 {
			pinmux = <UART0_RX_P1>;
			input-enable;
		};
	};

	uart1_default: uart1_default {
		group1 {
			pinmux = <UART1_TX_P4>;
		};
		group2 {
			pinmux = <UART1_RX_P5>;
			input-enable;
		};
	};

    i2c0_default: i2c0_default {
        group1 {
            pinmux = <I2C0_SDA_P8>, <I2C0_SCL_P9>;
            input-enable;
            input-schmitt-enable;
        };
    };

    i2c1_default: i2c1_default {
        group1 {
            pinmux = <I2C1_SDA_P6>, <I2C1_SCL_P7>;
            input-enable;
            input-schmitt-enable;
        };
    };
};

&zephyr_udc0 {
	usb_cdc: usb_cdc_0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};

&uart0 {
    compatible = "raspberrypi,pico-uart";
	current-speed = <9600>;
	status = "okay";
    pinctrl-0 = <&uart0_default>;
    pinctrl-names = "default";
};

&uart1 {
    compatible = "raspberrypi,pico-uart";
	current-speed = <9600>;
	status = "okay";
    pinctrl-0 = <&uart1_default>;
    pinctrl-names = "default";
};

&i2c0 {
    clock-frequency = <I2C_BITRATE_STANDARD>;
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";
	bme680@76 {
		compatible = "bosch,bme680";
		reg = <0x76>;
	};
	hm3x00@40 {
		compatible = "seeed,hm3x00";
		reg = <0x40>;
	};
};

&i2c1 {
    clock-frequency = <I2C_BITRATE_STANDARD>;
	status = "okay";
	pinctrl-0 = <&i2c1_default>;
	pinctrl-names = "default";
};
